<!-- Footer -->
<footer>
    <section class="container-fluid">
        <div class="footer-top row row-cols-xl-2 row-cols-1">
            <div class="ft-left col">
                <div class="row row-cols-1 gy-4 pb-4">
                    <div class="col">
                        <img src="./assets/img/logo.png" alt="logo" width="248">

                    </div>
                    <div class="col">
                        <p class="mb-0">Hotline: 1800 8088</p>
                        <p class="mb-0">Email: support@viettelidc.com.vn</p>
                    </div>
                    <div class="col">
                        <img src="assets/img/facebook.svg" alt="facebook" />
                        <img src="assets/img/instagram.svg" alt="instagram" />
                        <img src="assets/img/twiter.svg" alt="twiter" />
                        <img src="assets/img/zalo.svg" alt="zalo">
                        <img src="assets/img/telegram.svg" alt="telegram" />
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-lg-4">
                    <div class="col ft-right-col">
                        <p>GIỚI THIỆU</p>
                        <p>Dẫn dắt ngành dữ liệu và điện toán đám mây</p>
                        <p>Khám phá giá trị của chính bạn</p>
                        <p>Thưởng xứng đáng cho những nỗ lực xứng tầm</p>
                        <p>Cộng hưởng sức mạnh đội nhóm</p>
                    </div>
                    <div class="col ft-right-col">
                        <p>Site Map</p>
                        <p>Việc làm</p>
                        <p>Đãi ngộ</p>
                        <p>Về Viettel IDC</p>
                        <p>Lý do chọn Viettel IDC</p>
                        <p>Liên hệ</p>
                    </div>
                    <div class="col ft-right-col">
                        <p>TÍNH NĂNG</p>
                        <p>Việc làm</p>
                        <p>Đãi ngộ</p>
                        <p>Về Viettel IDC</p>
                        <p>Cơ hội nghề nghiệp</p>
                        <p>Liên hệ</p>
                    </div>
                    <div class="col ft-right-col">
                        <p>TÌM KIẾM VIỆC LÀM</p>
                        <p>Việc làm theo địa điểm</p>
                        <p>Việc làm theo ngành nghề</p>
                        <p>Liên hệ</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <svg width="100%" height="1" viewBox="0 0 1360 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="204" width="952" height="1" fill="#C8C8C7" />
                </svg>
            </div>
        </div>

        <div class="row">
            <div class="col footer-bottom">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col">
                                <a href="#">Accessibility</a>
                            </div>

                            <div class="col">
                                <a href="#">Cookie Preferences</a>
                            </div>

                            <div class="col">
                                <a href="#">Legal Docs and policies</a>
                            </div>

                            <div class="col">
                                <a href="#">Privacy</a>
                            </div>

                            <div class="col">
                                <a href="#">Terms of use</a>
                            </div>
                        </div>
                    </div>

                    <span class="col-auto">© 2025 Viettel or its affiliates. All rights reserved.</span>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- End Footer -->
