<!-- Header job list-->
<header>
    <section class="container-fluid header-nav">
        <div class="row align-items-center">
            <div class="col-xxl-2 col-xl-2">
                <div class="logo">
                    <img src="./assets/img/logo.png" alt="IDC Logo" width="118" />
                </div>
            </div>
            <div class="col-xxl-8 col-xl-6">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                            <ul class="navbar-nav navbar-idc">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Việc làm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Đãi ngộ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Về Viettel IDC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Lý do chọn Viettel IDC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-xxl-2 col-xl-4">
                <div class="btn-group-nav row gx-3">
                    <div class="col-auto">
                        <button class="btn btn-transperent btn-unarrow">Đăng nhập</button>
                    </div>
                    <div class="col-auto align-self-center">
                        <svg width="1" height="36" viewBox="0 0 1 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.5" y1="1.93721e-08" x2="0.499998" y2="48" stroke="#C8C8C7" />
                        </svg>
                    </div>
                    <div class="col-auto flex-grow-1">
                        <button class="btn btn-primary btn-unarrow">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header-section">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-9 offset-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item breadcrumb-item-home"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Việc làm</li>
                        </ol>
                    </nav>

                    <div class="header-section-content">
                        <div class="hd-st-content-first">
                            <h1>Khám phá công việc <span>dành cho bạn</span></h1>
                            <div>
                                <img src="./assets/img/vector-signature.svg" alt="signature" />
                            </div>
                            <p>Kiến tạo tương lai của bản thân cùng Viettel IDC và làm chủ công nghệ với các dự án
                                hấp
                                dẫn</p>
                        </div>

                        <div class="hd-st-content-last">
                            <div class="group-search">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group input-search">
                                            <span class="input-group-text" id="addon-wrapping">
                                                <img src="./assets/img/search.svg" alt="Search icon" />
                                            </span>
                                            <div class="input-search-sub">
                                                <input type="text" class="form-control" placeholder="search"
                                                    aria-label="Username" aria-describedby="addon-wrapping" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="input-group input-search">
                                            <span class="input-group-text" id="addon-wrapping">
                                                <img src="./assets/img/search.svg" alt="Search icon" />
                                            </span>
                                            <div class="input-search-sub">
                                                <div class="tag-list">
                                                    <span class="tag tag-lg tag-secondary">
                                                        <span>Label</span>
                                                        <svg width="16" height="14" viewBox="0 0 16 16" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g id="X">
                                                                <path id="Icon" d="M12 4L4 12M4 4L12 12"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="search"
                                                    aria-label="Username" aria-describedby="addon-wrapping" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary btn-unarrow">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>

                            <p>Ví dụ : UI Designer, UX Researcher, Android, Admin</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</header>

<!-- Header Homepage -->
    <header>
        <section class="container-fluid header-nav">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2">
                    <div class="logo">
                        <img src="./assets/img/logo.png" alt="IDC Logo" width="118" />
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-6">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                                <ul class="navbar-nav navbar-idc">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Việc làm</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Đãi ngộ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Về Viettel IDC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Lý do chọn Viettel IDC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-xxl-2 col-xl-4">
                    <div class="btn-group-nav row gx-3">
                        <div class="col-auto">
                            <button class="btn btn-transperent btn-unarrow">Đăng nhập</button>
                        </div>
                        <div class="col-auto align-self-center">
                            <svg width="1" height="36" viewBox="0 0 1 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.5" y1="1.93721e-08" x2="0.499998" y2="48" stroke="#C8C8C7" />
                            </svg>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <button class="btn btn-primary btn-unarrow">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="header-section header-home-section">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-9 offset-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item breadcrumb-item-home"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Việc làm</li>
                            </ol>
                        </nav>

                        <div class="header-section-content">
                            <div class="hd-st-content-first">
                                <h1>Khám phá công việc <span>dành cho bạn</span></h1>
                                <div>
                                    <img src="./assets/img/vector-signature.svg" alt="signature" />
                                </div>
                                <p>Kiến tạo tương lai của bản thân cùng Viettel IDC và làm chủ công nghệ với các dự án
                                    hấp
                                    dẫn</p>
                            </div>

                            <div class="hd-st-content-last">
                                <div class="group-search">
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group input-search">
                                                <span class="input-group-text" id="addon-wrapping">
                                                    <img src="./assets/img/search.svg" alt="Search icon" />
                                                </span>
                                                <div class="input-search-sub">
                                                    <input type="text" class="form-control" placeholder="search"
                                                        aria-label="Username" aria-describedby="addon-wrapping" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="input-group input-search">
                                                <span class="input-group-text" id="addon-wrapping">
                                                    <img src="./assets/img/search.svg" alt="Search icon" />
                                                </span>
                                                <div class="input-search-sub">
                                                    <div class="tag-list">
                                                        <span class="tag tag-lg tag-secondary">
                                                            <span>Label</span>
                                                            <svg width="16" height="14" viewBox="0 0 16 16" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g id="X">
                                                                    <path id="Icon" d="M12 4L4 12M4 4L12 12"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="search"
                                                        aria-label="Username" aria-describedby="addon-wrapping" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary btn-unarrow">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>

                                <p>Ví dụ : UI Designer, UX Researcher, Android, Admin</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </header>

    <!-- Header page -->
    <header>
        <section class="container-fluid header-nav">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2">
                    <div class="logo">
                        <img src="./assets/img/logo.png" alt="IDC Logo" width="118" />
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-6">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                                <ul class="navbar-nav navbar-idc">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Việc làm</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Đãi ngộ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Về Viettel IDC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Lý do chọn Viettel IDC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-xxl-2 col-xl-4">
                    <div class="btn-group-nav row gx-3">
                        <div class="col-auto">
                            <button class="btn btn-transperent btn-unarrow">Đăng nhập</button>
                        </div>
                        <div class="col-auto align-self-center">
                            <svg width="1" height="36" viewBox="0 0 1 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.5" y1="1.93721e-08" x2="0.499998" y2="48" stroke="#C8C8C7" />
                            </svg>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <button class="btn btn-primary btn-unarrow">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="header-section">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-9 offset-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item breadcrumb-item-home"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                            </ol>
                        </nav>

                        <div class="header-section-content">
                            <h2>Liên hệ</h2>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </header>