<div class="dropdown-idc">
    <button class="btn-dropdown">
        <div>
            <span>Sắp xếp:</span>
            <span>Mới nhất</span>
        </div>

        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12L16 20L24 12" stroke="#222426" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Chevron up">
                <path id="Icon" d="M24 20L16 12L8 20" stroke="#EE0033" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
        </svg>
    </button>
    <ul class="dropdown-list dropdown-sortby-list">
        <li>
            <label>
                Cũ nhất
            </label>
        </li>
        <li>
            <label>
                Công việc hot
            </label>
        </li>
        <li>
            <label>
                Mức lương cao nhất
            </label>
        </li>
    </ul>
</div>
