<div class="dropdown-idc">
    <button class="btn-dropdown">
        <span>Categories</span>

        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12L16 20L24 12" stroke="#222426" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Chevron up">
                <path id="Icon" d="M24 20L16 12L8 20" stroke="#222426" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
        </svg>
    </button>
    <ul class="dropdown-list">
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
        </li>
    </ul>
</div>
