<div class="lable-tooltip">
    <label for="exampleInputEmail1" class="form-label">Email address </label>
    <img src="./assets/img/info.svg" alt="Not load svg info" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Tooltip on top">
</div>

<div class="lable-tooltip">
    <label for="exampleInputEmail1" class="form-label label-required">Email address </label>
    <img src="./assets/img/info.svg" alt="Not load svg info">
</div>

<div class="lable-tooltip">
    <label for="exampleInputEmail1" class="form-label">Email address </label>
    <img src="./assets/img/info.svg" alt="Not load svg info">
    <span class="label-optional">(optional)</span>
</div>
