<span class="tag tag-secondary">
    <span>Label</span>
    <svg width="16" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="X">
            <path id="Icon" d="M12 4L4 12M4 4L12 12" stroke-linecap="round" stroke-linejoin="round" />
        </g>
    </svg>
</span>
<!-- tag lg -->
<span class="tag tag-lg tag-secondary">
    <span>Label</span>
    <svg width="16" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="X">
            <path id="Icon" d="M12 4L4 12M4 4L12 12" stroke-linecap="round" stroke-linejoin="round" />
        </g>
    </svg>
</span>

<!-- status -->
<span class="status status-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Tooltip on top">Danger</span>

<!-- job-tag -->
<span class="job-tag job-tag-success" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Tooltip on top">success</span>
    